* {
  box-sizing: $box-style-border;
  font-family: $font-family-sans-serif;
  font-size: $font-size-min;
}

header {
  background-color: $grey-color;

  h1  {
    top: $fifty-percentage;
    left: $fifty-percentage;
    position: $absolute-value;
    transform: translate($minus-fifty-percentage, $minus-fifty-percentage); // relocate the element
  
    font: {
      family: $font-family-serif;
      size: $font-size-title;
    }
  }
}

body {
  margin: $zero-percentage;
  padding: $zero-percentage;
  line-height: $line-height;
  color: $black-color;
  background-color: scale-color($contrast-color-one, $lightness: 90%);
}

img {
  height: $auto-value;
  width: $hundred-value;
}

ul {
  margin-top: $zero-percentage;

  li {
    display: $flex-display-type;
    background-color: $grey-color;
  }

  a {
    color: $white-color;
    text-decoration: $none-value;
    text-align: $center-value;
  }

  a:hover {
    color: $contrast-color-one;
  }
}

.subtitle {
  font-size: $font-size-subtitle;
  font-weight: $font-weight-thin;
}

.header-style {
  position: $relative-value;
  text-align: $center-value;
  color: $white-color;

  img {
    opacity: $header-opacity;
  }
}

.container {  
  display: $flex-display-type;
  flex-wrap: $wrap-value; 
}

.container-image {
  box-shadow: $border-shadow;
  padding: $one-percentage;
}

.section {  
  padding: $two-percentage;
  padding-bottom: $one-percentage;
  margin-bottom: $five-percentage;
  text-align: $justify-value;
  background-color: $light-grayish-color;
}

.footer {
  margin-top: $margin-top-footer-rem;
  font-size: $font-size-footer-rem;
  text-align: $center-value;
  padding-bottom: $one-percentage;

  a i {
    padding: $one-percentage;
    color: $grey-color;
    font-size: $font-size-min;
  }
}

/* media query text styles adapted for medium and large devices */
@media (min-width: $tablet-min-devices){
  .header-style {
    h1 {
      font-size: $font-size-title-rem;
    }
  }

  body {
    font-size: $font-size-min-rem;
  }

  .subtitle {
    font-size: $font-size-subtitle-rem;
  }

}

/* media query for medium devices and portrait mode */
@media (min-width: $tablet-min-devices) and (max-width: $tablet-max-devices) {
  .subtitle {
    font-size: $font-size-subtitle;
  }
  
  .section {
    flex-basis: 50%; // display in two columns
  }
}

/* media query for large devices */
@media (min-width: $desktop-min-devices) {
  .section {
    flex-basis: 33.33%; // display in three columns
  }
}