* {
  box-sizing: $box-style-border;
  font-family: $font-family-sans-serif;
}

header {
  padding: $zero-percentage;
  background-color: $grey-color;
  padding-bottom: $zero-percentage;
}

header > h1, header > p {
  padding-left: $four-percentage;
  text-align: $justify-value;
  color: $white-color;
}

body {
  display: $display-type-flex;
  flex-direction: $display-flex-direction;
  height: $hundred-value;
  margin: $zero-percentage;
  padding: $zero-percentage;
  font-size: $font-size;
  line-height: $line-height;
  background-color: $lightness-color-bg;
  color: $black-color
}

img {
  height: $auto-value;
  max-width: $hundred-value;
}

.navigation-bar {
  display: $display-type-flex;
  background-color: $grey-color;
}

.navigation-bar a {
  color: $white-color;
  padding: $one-percentage;
  text-decoration: $none-value;
  text-align: $center-value;
}

.navigation-bar a:hover {
  background-color: $white-color;
  color: $black-color;
}

.title {
  font-size: $title-font-size;
  font-weight: $font-weight;

  @media (min-width: $min-width) {
    font-size: $title-minim-font-size;
  }
}

.title-header  {
  font-family: $font-family-serif;
  top: $fifty-percentage;
  left: $fifty-percentage;
  position: $absolute-value;
  transform: translate($minus-fifty-percentage, $minus-fifty-percentage);
}

.container {  
  display: $display-type-flex;
  flex-wrap: $display-flex-direction;
}

.flex__column--left {
  flex: $sixty-percentage;
  padding: $one-percentage;
}

.flex__column--rigth {
  flex: $forty-percentage;
  padding: $one-percentage;
}

.section {
  padding: $five-percentage;
  margin-bottom: $five-percentage;
  border-radius: $zero-percentage;
  text-align: $justify-value;
  background-color: $light-grayish-color;
}

.container-image {
  background-color: $white-color;
  box-shadow: $border-shadow;
  width: $hundred-value;
  padding: $one-percentage;
}

.header-style {
  position: $relative-value;
  display: $display-type-inline;
  text-align: $center-value;
  color: $white-color;
}

.header-style > img {
  opacity: $header-opacity;
}

.footer {
  margin-top: $footer-margin-top;
  font-size: $footer-font-size;
  text-align: $center-value;
}

@media screen and (max-width: $max-width) {
  .container, .navigation-bar {   
    flex-direction: $display-flex-direction;
  }
}
