@use "sass:color"; // access related color functions

* {
  box-sizing: $box-style-border;
  font-family: $font-family-sans-serif;
  font-size: $font-size-min;
}

.body--margin { 
  margin: $zero-percentage;
}

@mixin img--size { /* reusable code block */
  height: $auto-value;
  width: $hundred-value;
}

.header {
  background-color: $grey-color;
  position: $relative-value;
  text-align: $center-value;
  color: $white-color;

  .header__menu {
    margin-top: $zero-percentage;
    padding: $one-percentage;
  
    .header__menu--option {
      padding-top: $one-percentage;
      list-style-type: $none-value;

      .header__menu--option--link {
        color: $white-color;
        text-decoration: $none-value;
        padding-top: $one-percentage;
      }
  
      .header__menu--option--link:hover {
        color: $contrast-color-one;
      }
    }
  }

  .header--title {
    font-size: $font-size-title-rem;
    top: $seventy-percentage;
    left: $fifty-percentage;
    position: $absolute-value;
    transform: translate($minus-fifty-percentage, $minus-fifty-percentage); /* relocate the element */
    
    font: {
      family: $font-family-serif;
      size: $font-size-title;
    }
  }
  
  .header--img {
    opacity: $header-opacity;
    @include img--size;
  }
}

.container {  
  display: $flex-display-type;
  flex-wrap: $wrap-value; 
  margin: $zero-percentage;
  padding: $zero-percentage;
  line-height: $line-height;
  color: $black-color;

  .container__column {  
    padding: $four-percentage;
    padding-bottom: $one-percentage;
    margin-bottom: $five-percentage;
    text-align: $justify-value;
    background-color: $light-grayish-color;

    .container__column--img {
      box-shadow: $border-shadow;
      padding: $two-percentage;
      background-color: adjust($grey-color, $seventy-percentage); /* sass function to increases lightness by an amount */
      @include img--size;
    }
    
    .container__column--caption {
      font-size: $font-size-figcaption;
    }
  }  

  .container__column:nth-child(3){
    background-color: color.mix($contrast-color-one, $contrast-color-two, $ten-percentage); /* sass function to mix two colors in a percentage */
  }
}

.footer {
  margin-top: $margin-top-footer-rem;
  font-size: $font-size-footer-rem;
  text-align: $center-value;
  padding-bottom: $one-percentage;

  .footer--icon {
    padding: $one-percentage;
    color: $grey-color;
    font-size: $font-size-min;
  }
}

/* media query styles adapted for medium and large devices */
@media (min-width: $tablet-min-devices) {
  .header {
    text-align: $left-value;

    .header--title {
      font-size: $font-size-title-rem;
    }
  
    .header__menu--option {
      display: $inline-display-type;
      
      .header__menu--option--link {
        padding-right: $two-percentage; 
      }
    }
  }

  .container {
    line-height: $line-height-rem;
    font-size: $font-size-min-rem;

    .container__column--caption {
      font-size: $font-size-figcaption-rem;
    }
  
    .container__column--subtitle {
      font-size: $font-size-subtitle-rem;
    }
  }
}

/* media query for medium devices and portrait mode */
@media (min-width: $tablet-min-devices) and (max-width: $tablet-max-devices) {
  .container {
    .container__column { 
      flex-basis: $fifty-percentage; /* display two columns in the same proportion */
  
      .container__column--subtitle {
        font-size: $font-size-subtitle;
      }
    }
  
    .container__column:nth-child(3) { /* display the third column in full size */
      flex-basis: $hundred-value;
    }
  }
}

/* media query for large devices */
@media (min-width: $desktop-min-devices) {
  .container {
    .container__column {
      flex-basis: $thirty-three-percentage; /* display all the columns in the same proportion */
    }
  }
}