<header class="header">
    <nav class="header__menu">
      <ul class="header__menu--group">
        <li class="header__menu--option"><a class="header__menu--option--link" href="#portal">Portal</a></li>
        <li class="header__menu--option"><a class="header__menu--option--link" href="#more">Más sobre Japón</a></li>
        <li class="header__menu--option"><a class="header__menu--option--link" href="#about">Sobre nosotros</a></li>
      </ul>
    </nav>
  
    <div>
      <img class="header--img" src="./assets/images/japon_01.jpg" alt="Paisaje de Japón"/>
      <h1 class="header--title">DESCUBRIENDO KIOTO</h1>
    </div>
  </header>