// colors
$black-color: #000000;
$white-color: #fffdfd;
$grey-color: #333;
$light-grayish-color: #fafafa;
$contrast-color-one: #a09090;
$contrast-color-two:  #eee7e7;
$border-shadow: 0 4px 6px -1px $grey-color, 0 2px 4px -1px $black-color;
