@use "sass:color";

// fonts types
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

// fonts sizes
$font-size-min: 16px;
$font-size-subtitle: 20px;
$font-size-title: 24px;
$line-height: 24px;
$font-weight-thin: 700;

// related units
$font-size-min-rem: 1.5rem;
$font-size-subtitle-rem: 1.5rem;
$font-size-title-rem: 2rem;
$margin-top-footer-rem: 1.5rem;
$font-size-footer-rem: 0.75rem;

// percentage values
$minus-fifty-percentage: -50%;
$zero-percentage: 0%;
$one-percentage: 1%;
$two-percentage: 2%;
$five-percentage: 5%;
$fifty-percentage: 50%;
$hundred-value: 100%;

// styles and display
$flex-display-type: flex;
$wrap-value: wrap;
$box-style-border: border-box;
$header-opacity: 0.4;

// text styles
$justify-value: justify;
$center-value: center;
$relative-value: relative;
$absolute-value: absolute;
$none-value: none;
$auto-value: auto;

// responsive measures 
$tablet-min-devices: 481px;
$tablet-max-devices: 1024px;
$desktop-min-devices: 1025px;
